.body{
    background-color: #F3F5FC;
}

.logo{
    display: block;
    background-color: #F3F5FC;
    padding: 4rem 0 2rem 2rem;
    margin-left:48%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.left{
    display: flex;
    flex-direction: column;
}

.input-texto1{
    mix-blend-mode:darken;
    border-color: #142f92;
    font-size: 30px;
    height: 20rem;
    width: 30rem;
}

::placeholder{
    color: #0A3871;
}

.botones li {
    display: inline-block;
    vertical-align: top;
}

#encriptar-texto{
    background-color: #0A3871;
    color: white;
    font-size: 15px;
    width: 238px;
    height: 67px;
}

#desencriptar-texto{
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 15px;
    width: 238px;
    height: 67px;
}

.right{
    display: flex;
    flex-direction: column;
    width: auto;
}

.texto-der{
    font-size: 28px;
}

.input-texto2{
    border-color: #142f92;
    font-size: 15px;
    height: 18.5rem;
    width: 25rem;
    margin-right: 2rem;
}

#copiarTxt{
    background-color: white;
    color: #0A3871;
    font-size: 15px;
    padding: 12px;
    width: 158px;
    height: 57px;
}


@media screen and (max-width: 768px) {
    
    .left{
        margin-bottom: 1rem
    }
    .input-texto1{
        font-size: 60px;
        height: 25rem;
    }
    .condicion{
        font-size: 1.5rem;
    }
    #encriptar-texto{
        font-size: 25px;
    }
    #desencriptar-texto{
        font-size: 25px;
    }
    .input-texto2{
        font-size: 40px;
        height: 25rem;
        margin-top: 2rem;
    }
    #copiarTxt{
        font-size: 25px;
    }
}